*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;
    overflow-x: hidden;
}
#

#container{
background: #ee9ca7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width:100%;
height: 100%;
display:flex;
justify-content: center;
align-items: center;
}

#item{
padding: 20px;
height:45em;
width:25em;
background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 20px;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
box-shadow: 5px 5px 5px 4px black;
transition: all 1s ease-in 0.1s;
}

#item:hover{
    transform: scale(1.2);
}

#img1{
    border-radius: 20px;
    background-color: antiquewhite;
    margin:10px;
    
}
#text{
display:flex;
gap: 10px;
flex-direction: column;
justify-content: center;
align-items:center;
width: 100%;
color:aliceblue;
}

#text h1{
    font-weight: 1.7rem;
}
#text p{
    font-size: 1.5rem;
}
@media (max-width : 430px){


}

